@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using ti8m.BeachBreak.Client.Components.Shared
@inherits OptimizedTranslatableComponentBase

<PageTitle>@T("pages.home")</PageTitle>

<h1>@T("pages.welcome-message")</h1>

@T("pages.welcome-to-app")
