apiVersion: v1
kind: Service
metadata:
  name: {{ include "beachbreak-commandapi.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "beachbreak-commandapi.labels" . | nindent 4 }}
  {{- if .Values.metrics.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.service.port }}"
    prometheus.io/path: "{{ .Values.metrics.path }}"
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.name }}
      protocol: TCP
      name: {{ .Values.service.name }}
  selector:
    {{- include "beachbreak-commandapi.selectorLabels" . | nindent 4 }}