.question-container {
    margin-bottom: 3rem;
}

.question-container:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.question-container * {
    box-sizing: border-box;
}

.question-container[data-rendering="true"] {
    opacity: 0.7;
    pointer-events: none;
}
